/* --- Reset básico --- */



@font-face {
  font-family: 'NimbusSanL';
  src: url('NimbusSanL-Regu.woff2') format('woff2'),
  url('NimbusSanL-Regu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MovilienciaSans';
  src: url('MovilienciaSans-Regular.woff'),
  url('MovilienciaSans-Regular.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --- Tipografía y colores base --- */
body {
  font-family: "NimbusSanL", sans-serif;
  color: #000;
  background-color: #fff;
}

img {
  max-width: 100%;
}

/* --- Encabezado superior --- */
.top-bar {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.4rem;
  letter-spacing: 1px;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: right;
  font-size: 18px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Navegación principal --- */
.main-nav {
  text-align: center;
  margin: 2rem 0;
}

.main-nav h1 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1em;
  font-size: 0.9rem;
  font-weight: 500;
}

.main-nav a {
  text-decoration: none;
  color: #000;
}

.main-nav a:hover {
  border-bottom: 1px solid #000;
}

/* --- Imagen principal --- */

.hero img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 16 / 9;
}



/* --- Sección Proyecto --- */
.proyecto {
  background-color: #111;
  color: #fff;
  padding: 4rem 15%;
  text-align: left;
  display: flex;
  justify-content: center;
}

.proyecto .texto {
  max-width: 800px;
}

.proyecto h2 {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.proyecto p {
  font-size: 0.9rem;
  line-height: 1.6;
}

/* --- Galería --- */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  padding: 3rem 5%;
  gap: 1rem;
}

.galeria .item {
  flex: 1 1 calc(25% - 1rem);
  max-width: 300px;
}

.galeria img {
  width: 100%;
  height: auto;
  display: block;
}

.galeria h3 {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.galeria p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  text-align: left;
}

a#tci-link {
  position: absolute;
  left: 15px;
  top: 15px;
  transition: all .25s ease-out;

  img {
    width: 80px;
  }

  &:hover {
    transition: all .15s ease-in;
    transform: scale(1.05);
    opacity: 0.8;
  }
}

.brazo-container {
  position: relative;
  cursor: col-resize;
  color: #EA0000;
  width: 100%;
  display: inline-block;
  img {
    max-width: 100%;
  }

  .sneaker-clean {
    float: left;
  }

  .sneaker-dirty {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    clip-path: inset(0% 50% 0% 0%);
  }
}

/* --- Footer --- */
footer {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 40px 60px;
    height: 150px;
    background-color: #111;
    color: #fff;
    border-top: 2px solid white;
  }

  .info-left p,
  .info-right p {
    margin: 4px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  /* --- Lado derecho (Instagram y logo) --- */
  .info-right {
    text-align: right;
  }

  .logo {
    width: 60px;
    margin-top: 25px;
  }
}

/* slider*/
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.swipermasks {
  height: 80%;
  width: 100%;
}

.swiperthumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiperthumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.swiperthumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 17px;
  padding: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.swiper-slide h3 {
  font-family: "MovilienciaSans";
  text-align: center;
  font-size: 40px;
  /*padding: .1rem;*/
  justify-content: center;
  align-items: center;

}
.swiper-slide img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  /* object-fit: cover; */
}