/* --- Reset básico --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* --- Tipografía y colores base --- */
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    background-color: #fff;
  }
  
  /* --- Encabezado superior --- */
  .top-bar {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.4rem;
    letter-spacing: 1px;
  }
  
  /* --- Navegación principal --- */
  .main-nav {
    text-align: center;
    margin: 2rem 0;
  }
  
  .main-nav h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #000;
  }
  
  .main-nav a:hover {
    border-bottom: 1px solid #000;
  }
  
  /* --- Imagen principal --- */
 
  .hero img {
    width: 100%;
    height: 80px;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  
  
  
  /* --- Sección Proyecto --- */
  .proyecto {
    background-color: #111;
    color: #fff;
    padding: 4rem 15%;
    text-align: left;
    display: flex;
    justify-content: center;
  }
  
  .proyecto .texto {
    max-width: 800px;
  }
  
  .proyecto h2 {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .proyecto p {
    font-size: 0.9rem;
    line-height: 1.6;
  }
  
  /* --- Galería --- */
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 3rem 5%;
    gap: 1rem;
  }
  
  .galeria .item {
    flex: 1 1 calc(25% - 1rem);
    max-width: 300px;
  }
  
  .galeria img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .galeria h3 {
    margin-top: 1rem;
    font-size: 0.9rem;
    font-weight: 700;
  }
  
  .galeria p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    line-height: 1.4;
  }

  a#tci-link {
    position: absolute;
    left: 15px;
    top: 15px;
    transition: all .25s ease-out;

    img {
        width: 80px;
    }

    &:hover {
        transition: all .15s ease-in;
        transform: scale(1.05);
        opacity: 0.8;
    }
}

.sneaker-container {
    position: relative;
    cursor: col-resize;
    color: #EA0000;

    img {
        max-width: 100%;
    }

    .sneaker-clean {
        float: left;
    }

    .sneaker-dirty {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        clip-path: inset(0% 50% 0% 0%);
    }
}
  
  /* --- Footer --- */
  footer {
    text-align: center;
    font-size: 0.7rem;
    color: #555;
    padding: 2rem 0;
  }
  